<div class="container home">
  <div class="d-flex flex-row justify-content-center">
    <h1>
      <span class="fa fa-solid fa-address-book"></span>
      Phone Book App
    </h1>
  </div>

  <div class="home-row">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <h5>Contacts</h5>
      </div>

      <div class="d-flex">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openAddContactDialog()"
        >
          + Add Contact
        </button>
      </div>
    </div>
  </div>

  <div class="home-row">
    <div class="input-group">
      <div class="input-group-prepend input-group-text">
        <span class="fa fa-search"></span>
      </div>
      <input
        placeholder="Search for contact by last name..."
        [(ngModel)]="lastName"
        class="form-control"
      />
    </div>
  </div>

  <div class="home-row">
    <app-contact-list [lastName]="lastName"></app-contact-list>
  </div>
</div>
